extends layout
block content
    <div class="game gameAfter" id="game"></div>
    <div class="next" id="next"></div>
    <div class="info">
    <div class="text-desc"> 按下G键开始游戏 </div>
    <div class="text-desc"> 使用键盘← → ↓控制方块的左右 空格键直接落下  ↑ 控制变形 </div>
    <div style="margin: 5px 0;">#{tetrisName}</div>
    <div style="margin: 5px 0;">已用时：<span id="time">0</span> s</div>
    <div style="margin: 5px 0;">已得分：<span id="score">0</span> 分</div>
    <div style="margin: 5px 0;" id="gameover"></div>
    </div>
    <script type="text/javascript" src="/javascripts/square.js"></script>
    <script type="text/javascript" src="/javascripts/squareFactory.js"></script>
    <script type="text/javascript" src="/javascripts/game.js"></script>
    <script type="text/javascript" src="/javascripts/local.js"></script>
    <script type="text/javascript" src="/javascripts/remote.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>